.App {
	position: relative;
	display: flex;
	margin: 200px auto;
	padding: 40px;
	box-sizing: border-box;
	background-color: #f4f5f7;
	height: 900px;
	width: 1440px;
}

img.logo {
	position: absolute;
	top: 2%;
	left: 2%;
}

img.pic {
	position: absolute;
	top: 1%;
	right: 1.7%;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: absolute;
	bottom: 1.2%;
	font-size: 9px;
	width: 1390px;
	color: #6b778c;
}

span {
	padding: 10px;
}

a {
	color: blue;
	text-decoration: none;
}
